
@{
    ViewBag.Title = "Index";
}

<h2>Akıllı Arama</h2>

<div id="search" class="shadowBox">
    <input type="text" id="keyword" name="keyword" class="font18px" placeholder="Aranacak kelime(ler) giriniz" onkeyup="search(this.value)"/>
    <br/>

    <div id="result">

        
    </div>
    <div class="clearer"></div>
</div>