@model dynamic


<!DOCTYPE html>

<html>
<head>
    <title>BLOG</title>
</head>
<body>
<table border="1">
    <tr>
        <th>@Html.ActionLink("Admin", "AdminMakaleListele")</th>
        <th>@Html.ActionLink("User","UserMakaleListele")</th>
    </tr>
</table>

</body>
</html>